* {
  margin: 0px;
  padding: 0px;
}

:root {
  --main-bg-color: #481d00;
  --header-bg-color: #1e1100;
  --footer-bg-color: #1e1100;
  --button-bg-color: #341900;
  --link-color: #d1ab4d;
}

body {
  font-family: "Averia serif libre";
  color: #d1ab4d;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  background: var(--header-bg-color);
  display: flex;
  flex-direction: row;
  align-items: center;
}

header img {
  width: 4rem;
}

main {
  background: var(--main-bg-color);
  flex-grow: 1;
}

footer {
  background: var(--footer-bg-color);
  padding: 1rem;
}

footer img {
  width: 3rem;
}

a {
  color: var(--link-color);
  text-decoration: none;
}
nav {
  width: 100%;
}
ul {
  display: flex;
  justify-content: space-around;
  text-align: center;
}

li {
  list-style-type: none;
  flex: 1;
}
h1 {
  text-align: center;

  padding: 2rem;
}

.main__panorama {
  width: 100%;
}

section {
  background: var(--main-bg-color);
}

.articles {
  display: flex;
  flex-flow: row wrap;
}

.articles__miniature {
  flex: 1;
  overflow: hidden;
  padding: 4rem;
}

.articles__miniature img {
  width: 100%;
}

h2 {
  text-align: center;
}

.bouton-article {
  text-align: center;
  padding: 1rem;
}

.bouton-article a {
  background: var(--button-bg-color);
  padding: 0.5rem;
}

.burger {
  display: none;
}

@media screen and (max-width: 600px) {
  .articles {
    display: none;
  }
  header nav ul {
    display: none;
  }
}
